<div class="five columns offset-by-one sidebar">
  <h4 class="title" style="padding-bottom:0"><a href="{{ blogs[blog-sidebar].url }}.atom" class="subscribe" title="{{ 'blogs.sidebar.subscribe_with_rss' | t }}" target="_blank"><span class="ss-icon">&#xE310;</span> <span class="text">{{ 'blogs.sidebar.subscribe' | t }}</span></a> {% if settings.twitter_link != blank %}&nbsp; <a href="{{ settings.twitter_link }}" class="twitter" title="{{ 'blogs.sidebar.follow_shop' | t: shop_name: shop.name }}" target="_blank"><span class="ss-icon">&#xF611;</span> <span class="text">{{ 'blogs.sidebar.follow_us' | t }}</span></a>{% endif %}</h4>

  <form class="search" action="/search">
    <input type="hidden" name="type" value="article" />
    <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.title' | t }} {{ blog.title | escape }}..." value="{{ search.terms }}" />
  </form>

  <h4>{{ 'blogs.sidebar.recent_articles' | t }}</h4>
  
  <ul class="blog_list">
    {% for article in blogs[blog-sidebar].articles limit:5 %}
      <li>
        <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a>
        <div class="meta">
          <span class="label">{{ article.published_at | date: "%B %d, %Y" }}</span>
        </div>
      </li>
    {% endfor %}
  </ul>
  
  {% if blogs[blog-sidebar].all_tags != blank and settings.blog_tags %}
    <h4>{{ 'blogs.sidebar.categories' | t }}</h4>
  
    <ul class="blog_list">
      {% for tag in blogs[blog-sidebar].all_tags %}
        {% assign count = 0 %}
        {% for article in blogs[blog-sidebar].articles %}
          {% if article.tags contains tag %}
            {% capture count %}{{ count | plus: 1 }}{% endcapture %}
          {% endif %}
        {% endfor %}    
        <li>
          <a href="{{ shop.url}}/blogs/{{ blogs[blog-sidebar].handle }}/tagged/{{ tag | handleize }}" title="{{ blogs[blog-sidebar].title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a> <span class="label count">({{ count }})</span>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  
  {% if settings.blog_content_page != blank %}
    <h4>{{ pages[settings.blog_content_page].title }}</h4>
    {{ pages[settings.blog_content_page].content }}
  {% endif %}
</div>