{% if settings.product_zoom_enabled %}
  {% assign image_size = 'master' %}
{% else %}
  {% assign image_size = 'grande' %}
{% endif %}

{% if settings.product_images_position == 'left' %}
  
  <div class="columns desk-six tablet-twelve">
    {% for image in product.images %}
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
        <div class="video-container">
          {{ image.alt }}
        </div>
        <br class="clear" />
      {% endif %}
    {% endfor %}
    
    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
    <div class="{% if product.images.size > 1 %}multiple_product_images{% else %} single_product_image{% endif %} product_image_col feature_image">
      <a href="{{ featured_image | product_img_url: image_size }}" data-index="" title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title | escape }}{% else %}{{ featured_image.alt | escape }}{% endif %}">
        <img src="{{ featured_image | product_img_url: image_size }}" alt="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title | escape }}{% else %}{{ featured_image.alt | escape }}{% endif %}" itemprop="image" />
      </a>
    </div>

   {% comment %} <div class="two columns product_image_col thumbnails omega {% if product.images.size == 1 %}hidden{% endif %}">
      {% for image in product.images %}
        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign alt_text = product.title %}
        {% else %}
          {% assign alt_text = image.alt %}
        {% endif %}

        <a href="{{ image | product_img_url: image_size }}" class="fancybox" rel="group" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" title="{{ alt_text | escape }}"><img src="{{ image | product_img_url: image_size }}" alt="{{ alt_text | escape }}" /></a>
      {% endfor %}
    </div>{% endcomment %}
  </div>

{% else %}

  <div class="columns desk-six tablet-twelve">
    {% for image in product.images %}
      {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
        <div class="video-container">
          {{ image.alt }}
        </div>
        <br class="clear" />
      {% endif %}
    {% endfor %}

    <div class="two columns alpha product_image_col thumbnails {% if product.images.size == 1 %}hidden{% endif %}">
      {% for image in product.images %}
        {% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}
          {% assign alt_text = product.title %}
        {% else %}
          {% assign alt_text = image.alt %}
        {% endif %}

        <a href="{{ image | product_img_url: image_size }}" class="fancybox" rel="group" data-index="{{ forloop.index0 }}" data-image-id="{{ image.id }}" title="{{ alt_text | escape }}"><img src="{{ image | product_img_url: image_size }}" alt="{{ alt_text | escape }}" /></a>
      {% endfor %}
    </div>

    {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
    <div class="{% if product.images.size > 1 %}multiple_product_images{% else %} single_product_image{% endif %} product_image_col feature_image">
      <a href="{{ featured_image | product_img_url: image_size }}" data-index="" title="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title | escape }}{% else %}{{ featured_image.alt | escape }}{% endif %}">
        <img src="{{ featured_image | product_img_url: image_size }}" alt="{% if image.alt contains 'youtube' or image.alt contains 'vimeo' %}{{ product.title | escape }}{% else %}{{ featured_image.alt | escape }}{% endif %}" itemprop="image" />
      </a>
    </div>
  </div>  
{% endif %}
