{% paginate blog.articles by 7 %}

  <div class="sixteen columns">
    <div class="section clearfix">
      <h1><a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a></h1>
      
        <div class="breadcrumb sixteen columns alpha omega">
          <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
          &#62;
          <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ blog.url }}" title="{{ blog.title | escape }}" itemprop="url"><span itemprop="title">{{ blog.title }}</span></a></span>       

          {% if current_tags %}
            {% for tag in current_tags %}
              &#62;
            
              <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>       
            {% endfor %}
          {% endif %}

          &#62; {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        </div>
    </div>
  </div>

  <div class="ten columns">
    {% for article in blog.articles %}
      <div class="clearfix article">
        <h3><a href="{{ article.url }}" title="{{ article.title | escape }}">{{ article.title }}</a></h3>
      
        <p class="meta">
          {% assign article_date = article.published_at | date: format: "month_day_year" %}
          <span class="label">
            {{ 'blogs.article.author_on_date_html' | t: author: article.author, date: article_date }}
          </span>
         
          {% if article.comments_enabled? %}
            | <a href="{{ article.url }}#comments">{{ 'blogs.counts.comments_with_count' | t: count: article.comments_count }}</a>
          {% endif %}
        </p>
    
        <div class="clearfix">
          {% if article.excerpt != blank %}
            {{ article.excerpt }}
          
            <p class="continue_reading">
              <a href="{{ article.url }}" title="{{ article.title | escape }}">{{ 'blogs.general.continue_reading_html' | t }}</a>
            </p>
          {% else %}
            {{ article.content }} 
          {% endif %}
        </div>

        {% include "social-buttons" with "article" %}
        
        {% if settings.blog_tags %}
          <p class="meta">
            {% capture tags %}
            {% for tag in article.tags %}
              <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" title="{{ blog.title }} {{ 'blogs.general.tagged' | t }} {{ tag | escape }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% endcapture %}
            <span class="label">{{ 'blogs.article.posted_in_html' | t: tags: tags }}</span>
          </p>
        {% endif %}        
      </div>
    {% endfor %}
  
    {% include 'pagination' %}    
  </div>
{% endpaginate %}

{% include "blog-sidebar" with blog.handle %}

