<div class="columns desk-twelve section clearfix breadcrumb product_breadcrumb">
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
  &#62;
  <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
    {% if collection %}
      <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
    {% else %}
      <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>      
    {% endif %}
  </span>
  &#62;
  {{ product.title }}
</div>

<div class="product__container section product_section clearfix" itemscope itemtype="http://data-vocabulary.org/Product" id="product-{{ product.id }}">
	  
  	 {% if settings.product_images_position == 'left' %}             
       {% assign products_per_row = settings.products_per_row %}

       {% if settings.product_thumbnails_position == 'bottom' %}
         {% include 'product-images-bottom' %}
       {% else %}
         {% include 'product-images' %}
       {% endif %}
     {% endif %}

     <div class="columns desk-six tablet-twelve">
       <h1 class="product_name" itemprop="name">{{ product.title }}</h1>

      {% assign variant = product.selected_or_first_available_variant %}
       <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
         
         <span class="was_price">
            {% if variant.price < variant.compare_at_price and variant.available %}
              {{ variant.compare_at_price | money }} {{ shop.currency }}
            {% endif %}
          </span>
          <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="current_price">
            {% if variant.available %} 
              {{ variant.price | money }}
            {% else %} 
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          </span>

          {{ shop.currency }}
       </p>
     
       {% include 'product-notify-me' %}

       {% include 'product-form' with 'product' %}
       {% if settings.product_description_position == "bottom" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
        {% endif %}
       {% endif %}

       {% if settings.product_description_position == "top" %}
        {% if product.description != blank %}
         <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
         </div>
        {% endif %}
       {% endif %}
      
       <hr />
     
       <div class="meta">
         {% if settings.display_collections %}
           <p>
             <span class="label">{{ 'products.product.collections' | t }}:</span> 
             <span>
              {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ 'collections.general.link_title' | t: title: col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
              {% endfor %}
            </span>
          </p>
         {% endif %}
       
         {% if settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">{{ 'products.product.tags' | t }}:</span> 
                {% endif %}

                {% unless tag contains 'meta-related-collection-' %}
                  <span>
                    <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  </span>
                {% endunless %} 
              {% endfor %}
            </p>
         {% endif %}
       
        {% if settings.display_type %}
           <p>
             <span class="label">{{ 'products.product.product_types' | t }}:</span> <span itemprop="category">{{ product.type | link_to_type }}</span>
           </p>
        {% endif %}
       
        {% if settings.display_vendor %}
           <p>
             <span class="label">{{ 'products.product.vendor' | t }}:</span> <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
           </p>
        {% endif %}
       </div>

       {% include "social-buttons" with "product" %}
       
       {% if collection %}            
          <hr style="margin-top:0" />
          <p class="meta">                     
            {% if collection.next_product %}
              {% capture next_url %}{{ collection.next_product }}{% endcapture %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: next_url }}
              </span>
            {% endif %}

            {% if collection.previous_product %}
              {% capture prev_url %}{{ collection.previous_product }}{% endcapture %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
              </span>
            {% endif %}
          </p>
       {% endif %}
       
    </div>
    
    {% if settings.product_images_position == 'right' %}             
      {% assign products_per_row = settings.products_per_row %}
      
      {% if settings.product_thumbnails_position == 'bottom' %}
        {% include 'product-images-bottom' %}
      {% else %}
        {% include 'product-images' %}
      {% endif %}
    {% endif %}
    
   
  {% if product.description contains "<!-- split -->"  %}
    <br class="clear" />
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
</div>

{% if settings.display_related_products %}
  {% capture limit %}{{ settings.products_per_row | plus: 1 }}{% endcapture %}
  
  {% if collection and collection.all_products_count > 1 %}
    {% assign col = collection.handle %}
  {% else %}
    {% assign col = product.collections.last.handle %}
  {% endif %}

  {% for tag in product.tags %}
    {% if tag contains 'meta-related-collection-' %}
      {% assign col = tag | remove: 'meta-related-collection-' %}
      {% assign collection = collections[col] %}
      {% capture limit %}{{ collection.products_count | plus: 1 }}{% endcapture %}
    {% endif %}
  {% endfor %}

  {% if col and collections[col].all_products_count > 0 %}
    <div class="section related__container">
      <h2>{{ 'products.product.related_items' | t }}</h2>

      {% assign skip_product = product %}
      {% assign products = collections[col].products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' %}
    </div>
  {% endif %}
  
{% endif %}